@font-face {
  font-family: 'glober-regular';
  src: url('../../assets/fonts/glober-regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/glober-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/glober-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/glober-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/glober-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'glober-bold';
  src: url('../../assets/fonts/glober-bold.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/glober-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/glober-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/glober-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
